<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Spotlight</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>SearchSettings</string>
			<key>label</key>
			<string></string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Location</string>
            <key>footerText</key>
            <string>Limits results to only those available.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.tyhoff.spotisearch</string>
            <key>default</key>
            <string>US</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Country</string>
            <key>key</key>
            <string>Country</string>
            <key>validTitles</key>
            <array>
                <string>Andorra</string>
                <string>Argentina</string>
                <string>Austria</string>
                <string>Australia</string>
                <string>Belgium</string>
                <string>Bulgaria</string>
                <string>Bolivia</string>
                <string>Brazil</string>
                <string>Canada</string>
                <string>Switzerland</string>
                <string>Chile</string>
                <string>Colombia</string>
                <string>Costa Rica</string>
                <string>Cyprus</string>
                <string>Czech Republic</string>
                <string>Germany</string>
                <string>Denmark</string>
                <string>Dominican Republic</string>
                <string>Ecuador</string>
                <string>Estonia</string>
                <string>Spain</string>
                <string>Finland</string>
                <string>France</string>
                <string>Great Britain</string>
                <string>Greece</string>
                <string>Guatemala</string>
                <string>Hong Kong</string>
                <string>Honduras</string>
                <string>Hungary</string>
                <string>Ireland</string>
                <string>Iceland</string>
                <string>Italy</string>
                <string>Liechtenstein</string>
                <string>Lithuania</string>
                <string>Luxembourg</string>
                <string>Latvia</string>
                <string>Monaco</string>
                <string>Malta</string>
                <string>Mexico</string>
                <string>Malaysia</string>
                <string>Nicaragua</string>
                <string>Netherlands</string>
                <string>Norway</string>
                <string>New Zealand</string>
                <string>Panama</string>
                <string>Peru</string>
                <string>Philippines</string>
                <string>Poland</string>
                <string>Portugal</string>
                <string>Paraguay</string>
                <string>Romania</string>
                <string>Sweden</string>
                <string>Singapore</string>
                <string>Slovenia</string>
                <string>Slovak Republic</string>
                <string>El Salvador</string>
                <string>Turkey</string>
                <string>Taiwan</string>
                <string>United States</string>
                <string>Uruguay</string>
            </array>
            <key>validValues</key>
            <array>
                <string>AD</string>
                <string>AR</string>
                <string>AT</string>
                <string>AU</string>
                <string>BE</string>
                <string>BG</string>
                <string>BO</string>
                <string>BR</string>
                <string>CA</string>
                <string>CH</string>
                <string>CL</string>
                <string>CO</string>
                <string>CR</string>
                <string>CY</string>
                <string>CZ</string>
                <string>DE</string>
                <string>DK</string>
                <string>DO</string>
                <string>EC</string>
                <string>EE</string>
                <string>ES</string>
                <string>FI</string>
                <string>FR</string>
                <string>GB</string>
                <string>GR</string>
                <string>GT</string>
                <string>HK</string>
                <string>HN</string>
                <string>HU</string>
                <string>IE</string>
                <string>IS</string>
                <string>IT</string>
                <string>LI</string>
                <string>LT</string>
                <string>LU</string>
                <string>LV</string>
                <string>MC</string>
                <string>MT</string>
                <string>MX</string>
                <string>MY</string>
                <string>NI</string>
                <string>NL</string>
                <string>NO</string>
                <string>NZ</string>
                <string>PA</string>
                <string>PE</string>
                <string>PH</string>
                <string>PL</string>
                <string>PT</string>
                <string>PY</string>
                <string>RO</string>
                <string>SE</string>
                <string>SG</string>
                <string>SI</string>
                <string>SK</string>
                <string>SV</string>
                <string>TR</string>
                <string>TW</string>
                <string>US</string>
                <string>UY</string>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Result Limits</string>
            <key>footerText</key>
            <string>To enable/disable any of these sections, do so above with "Spotlight Search"</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.tyhoff.spotisearch</string>
            <key>default</key>
            <integer>5</integer>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Albums</string>
            <key>key</key>
            <string>AlbumLimit</string>
            <key>validTitles</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>10</string>
                <string>15</string>
                <string>20</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>10</integer>
                <integer>15</integer>
                <integer>20</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.tyhoff.spotisearch</string>
            <key>default</key>
            <integer>5</integer>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Artists</string>
            <key>key</key>
            <string>ArtistLimit</string>
            <key>validTitles</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>10</string>
                <string>15</string>
                <string>20</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>10</integer>
                <integer>15</integer>
                <integer>20</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.tyhoff.spotisearch</string>
            <key>default</key>
            <integer>5</integer>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Tracks</string>
            <key>key</key>
            <string>TrackLimit</string>
            <key>validTitles</key>
            <array>
                <string>1</string>
                <string>2</string>
                <string>3</string>
                <string>4</string>
                <string>5</string>
                <string>10</string>
                <string>15</string>
                <string>20</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>10</integer>
                <integer>15</integer>
                <integer>20</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>isStaticText</key>
            <true/>
            <key>label</key>
            <string>Credit</string>
            <key>footerText</key>
            <string>Thanks to @ferreiradaniel2 for the incredible SearchLoader library. </string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>SpotiSearch 1.0</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Made by Tyler Hoffman</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Contact: tyhoffman1@gmail.com</string>
        </dict>
    </array>
    <key>title</key>
    <string>SpotiSearch</string>
</dict>
</plist>
